injector==0.18.3
pyhumps==1.3.1
uvicorn==0.11.5
fastapi==0.58.0
python-multipart==0.0.5
requests==2.24.0
hccpy==0.0.9
boto3==1.18.44
spacy==3.0.7
typing-extensions==3.7.4.3
thinc==8.0.10
boto3==1.18.44
pydantic==1.8.2
munch==2.5.0
nltk==3.6.2
negspacy==1.0.1
scispacy==0.4.0
asyncmock==0.4.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_sm-0.4.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_ner_bc5cdr_md-0.5.0.tar.gz